build --cxxopt=-std=c++17
build --cxxopt=-fno-exceptions

common:asan --copt=-fsanitize=address
common:asan --copt=-DADDRESS_SANITIZER
common:asan --linkopt=-fsanitize=address
common:asan --cc_output_directory_tag=asan
common:asan --define=tcmalloc=disabled
